.App-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  
	border-bottom: .3rem solid var(--color-main);
  
	height: 15rem
  }
  
  .logo {
	height: 100%;
	object-fit: contain;
  }
  
  
  .App-header h1 {
	color: var(--color-main);
	text-align: left;
  }
