#CourseList {
    width: 100%;
    text-align: left;
    border: 1px solid lightgrey;
}

#CourseList th[colspan="2"] {
    text-align: center;
}

#CourseList th {
    border-bottom: 2px solid lightgray;
    font-size: 1rem;
}

#CourseList td {
    font-size: 1rem;
}